@use '../../../onboarding/variables' as *;
@use '../../../onboarding/mixins' as *;

.save-confirm {
  position: fixed;
  top: 0;
  left: 50%;
  width: 393px;
  height: 852px;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.save-confirm-dim {
  position: absolute;
  inset: 0;
  background-color: $color-dim;
  pointer-events: auto;
}

.save-confirm-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 367px;
  max-width: calc(100% - 26px);
  height: 176px;
  box-sizing: border-box;
  padding: 68px 48px 29px 47px;
  background: url('../../../../assets/my/bg-save-popup.png') center / 100% 100% no-repeat;
  pointer-events: auto;
}

.save-confirm-title {
  margin: 0;
  @include text-title-pixel-xs;
  color: $color-main-brown;
  text-align: center;
  white-space: nowrap;
}

// 예·아니오 131.6x39, 간격 9
.save-confirm-buttons {
  display: flex;
  gap: 9px;

  .onboarding-button-primary {
    width: 131.6px;
  }
}
.save-confirm-description {
  margin: -18px 0 -8px;
  font-family: 'Pretendard', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: #B47952;
  text-align: center;
  white-space: nowrap;

  
}
